* {
    font-family: 'Alata', sans-serif;
}

.body {
    top: 0;
    left: 0;
    margin: 0 0;
    text-align: center;
}

.title {
    font-size: 30px;
}

.status-text {
    font-size: 22px;
}

.desc {
    font-size: 20px;
}

.logout-link {
    color: blue;
    text-decoration: underline;
    font-size: 18px;
}